.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.container {
    flex-direction: column;
    align-self: center;
    width: 50%;
}

.row {
    flex-direction: row;
}

.hor-center {
    justify-content: center;
}

.hor-start {
    justify-content: flex-start;
}

.field-spacing {
    margin: 5px 0;
}

.label-mrgn {
    margin: 0 10px;
}

.label-width {
    width: 100px;
}
