.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--tertiary-color);
}
  
.loader {
  display: inline-block;
  position: relative;
  width: var(--image-medium);
  height: var(--image-medium);
}

.spinner {
  display: inline-block;
  width: var(--image-medium);
  height: var(--image-medium);
  border: var(--border-large) solid var(--tertiary-color);
  border-top: var(--border-large) solid var(--primary-color);
  border-radius: var(--border-radius-circular);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
