button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--quarternary-color);
    border: var(--border-thin) solid var(--tertiary-color);
    border-radius: var(--border-radius-default);
    font-size: var(--font-size-medium);
    cursor: pointer;
    width: 100%;
    max-width: 50px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: var(--primary-color-hover);
}

button:active {
    background-color: var(--primary-color-active);
}
