table {
    width: 100%;
    max-width: 1200px;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: hidden;
    border-spacing: 0;
    background-color: var(--secondary-color);
    border: var(--border-thin) var(--primary-color);
    vertical-align: top;

    button {
        margin: 0 auto;
    }
}

table tbody tr:nth-child(even) {
    background-color: #fff;
}

table td, th {
    padding: var(--spacing-md);
    font-size: var(--font-size-medium);
    border-bottom: var(--border-thin) solid var(--primary-color);
    text-align: center;
    overflow: visible;
}

td::before {
    white-space: nowrap;
}

@media only screen and (max-width: 600px) {
    table td, th {
        font-size: var(--font-size-large);
    }
    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        th {
            display: none;
        }
        
        td {
            display: flex;
            align-items: center;
            text-align: left;
            padding: 10px;
        }

        td::before {
            content: attr(data-header);
            font-weight: var(--font-weight-semi-bold);
            margin: 5px 10px;
            flex: 0 0 120px;
        }

        td[data-header="Message"]::before {
            content: none;
        }
    }

    input {
        width: 100%;
        text-align: left;
        margin: 0 auto;
    }
}
