:root {
    --font-family: 'Courier New', Courier, monospace;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-extra-large: 32px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    
    --line-height-small: 1.4;
    --line-height-medium: 1.6;
    --line-height-large: 1.8;
  
    --primary-text-color: #333;
    --secondary-text-color: #666;
}
