:root {
    --primary-color: #f2e394;
    --secondary-color: #fefbd8;
    --tertiary-color: #ccc;
    --quarternary-color: #f9f6e9;

    --primary-color-hover: #e0d8b7;
    --primary-color-active: #dcd4b3;
    
    --border-thin: 2px;
    --border-medium: 6px;
    --border-large: 8px;

    --border-radius-default: 4px;
    --border-radius-circular: 50%;

    --image-small: 25px;
    --image-medium: 50px;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
}

